/__pycache__
/*.pyc
/*.pyo
/__pycache__
/db.sqlite3
/*~
/*.bak
# SQLite database file
/TestRep/db.sqlite3
/.env
/.venv
/*.log
/media
/staticfiles
/.vscod
/../../Desktop/qweasd/.idea
/venv
/node_modules
/.idea
/*.swp
/*.swo
/*.conf
/local_settings.py
/*.dump
/locale
