/__pycache__
/*.pyc
/*.pyo
/db.sqlite3
/*~
/*.bak
/TestRep/db.sqlite3
/.env
/.venv
/*.log
/media
/staticfiles
/.vscod
/.idea
/venv
/node_modules
/*.swp
/*.swo
/*.conf
/local_settings.py
/*.dump
/locale
/authentication/migrations/*

